@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* for the navigation bar */
header
{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.logo
{
    color: #8C181B;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;
}
.logo:hover
{
    color: #8C181B;
}

.navigation a
{
    text-decoration: none;
    color: #8C181B;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}

.navigation a:hover
{
    color: #FFA898;
}

section
{
    padding: 100px 200px;
}

.main
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background-profile-01.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    /* scroll with out moveing of the pic*/
    background-attachment: fixed;
}

.main h2
{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 15px;
}

.main h2 span
{
    display: inline-block;
    margin-top: 10px;
    color: #8C181B;
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 15px;
}

.main h3
{
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn
{
    text-decoration: none;
    color: #fff;
    background-color: #8C181B;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 25px;
    margin-bottom: 40px;
    /* makes the traansition smoothly */
    transition: 0.7s ease;
}
.main-btn:hover
{
    transform: scale(1.1);
    background-color: #B64039;
    color: #fff;
}

.content
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.socila-icon a
{
    font-size: 30px;
    color: #fff;
    padding-left: 18px;
}

/* servesis */
.title
{
    display: flex;
    justify-content: center;
    color: #B64039;
    font-size: 2.2em;
    font-weight: 800;
    margin: 30px;
}

.card
{
    background: #fff;
    width: 21.25em;
    box-shadow: 0 5px rgba(1 1 1/ 20%);
    border-radius: 10px;
    padding: 25px;

    margin: 30px;
    transition: 1.0s ease;
}
.card:hover
{
    transform: scale(1.1);
}

.icon
{
    color: #8C181B;
    font-size: 8em;
    text-align: center;
}

.info
{
    text-align: center;
}

.info h3
{
    font-size: 1.4em;
    font-weight: 700;
    color: #8C181B;
    margin-bottom: 20px;
}

/*  project */
.projects
{
    background-color: #FFA898;
}

.projects .content
{
    margin-top: 30px;
}

.project-card
{
    background-color: #fff;
    border: 2px solid #fff;
    /* min-height mean you can be in 14em but there more information you can scall the size*/
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 1.0s ease;
}

.project-card:hover
{
    transform: scale(1.1);
}

.project-card:hover .project-image
{
    opacity: 0.9;
}

.project-image img
{
    width: 100%;
}

.project-info
{
    padding: 1em;
}

.project-category
{
    font-size: 0.9em;
    color: #000;
}

.project-title
{
    display: flex;
    /* makes a space between the title and more info
    bec they are in the same class and we use display: flex*/
    justify-content: space-between;
    text-transform: 800;
    margin-top: 10px;
}

.more-details
{
    text-decoration: none;
    color: #8C181B;
}

.more-details:hover
{
    color: #FFA898;
}
/*    contact      */

.contact .icon
{
    font-size: 4.5em;
}

.contact .info h3
{
    color: #000;
}

.contact .info p
{
    font-size: 1.5em;
}

/*  footer */

.footer
{
    background-color: #B64039;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-title
{
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
}

.footer .social-icons
{
    color: #fff;
}