{% extends "layout.html" %}

{% block body %}
<section class="section-p1">
        <form action="/change_password" method="post" class="form">
            <div class="input">
                <input class="input" id="Newpassword" name="Newpassword" placeholder="New Password" type="password">
            </div>
            <div class="input">
                <input class="input" id="confirmation" name="confirmation" placeholder="New Password (again)" type="password">
            </div>
            <button class="button" type="submit">Cange Password</button>
        </form>
</section>
{% endblock %}